<div class="first_body">
  <div class="note-list">
    <app-language-selector></app-language-selector>
    <h2>{{ 'TITLE' | translate }}</h2>
    <a href="/create" class="create-note-btn">{{ 'CREATE_NOTE' | translate }}</a>
    <ul>
      <li *ngFor="let note of notes$ | async">
        <div class="note-details">
          <h3>{{ note.name }}</h3>
          <p>{{ note.description }}</p>
          <small>{{ note.createdAt | date: 'medium' }}</small>
        </div>
        <button class="edit-btn"><a routerLink="/edit/{{note.id}}">{{ 'EDIT' | translate }}</a></button>
        <button class="delete-btn" (click)="deleteNote(note.id)">{{ 'DELETE' | translate }}</button>
      </li>
    </ul>
  </div>
</div>
